<div class="search-container mgtop-80px">
<div class="set-the-bar-search-bar">
  <div class="icon-loupe"></div>
  <form action="/bars/search" method="POST" id="search_bar">
  <input  type="text" placeholder="Search location or bar name" class="search-input" name="userquery">
</form>
  <div class="icon-mic"></div>  
</div>
</div>
<div class="dashboard-container mgtop-80px">
  
 <div class="carousel-general-container">
    <div class="title-container">
      <h2 class="title">Bars nearby</h2>
    </div>
    <div class="carousel-container mgtop-25px">
  
      <% bars.forEach((bar) => { %>
      <div class="carousel-row">

        <a href="/bars/show/<%= bar.bar._id %>">
        <div class="carousel-image" style=background-image:url(../static/assets/barimages/<%=Math.round((Math.random()*9)+1)%>.jpg)>
          
        
  
        </div></a>
        <div class="carousel-text-container mgtop-10px">
          <div class="carousel-text ">
            <div class="carousel-barname"><%= bar.bar.name %></div>
            <div class="carousel-rating">
            
            <span class=stars> 
              <% bar.barrating.forEach((rating) => { %>
                <% if(rating === "*"){ %>
                  <i class="fa fa-star" aria-hidden="true" style="color: white; font-size: 2.5rem;"></i>
                <% } else if (rating === "/") { %>
                  <i class="fa fa-star-half-o" aria-hidden="true" style="color: white; font-size: 2.5rem;"></i>
                <% } else { %>
                  <i class="fa fa-star-o" aria-hidden="true" style="color: white; font-size: 2.5rem;"></i>                
                <% } %>
              <% }) %>
            </span>
            </div>
          </div>
            <% if(favoritebarsids.includes(bar.bar._id.toString())){ %> 
          <div class="carousel-heart carousel-heart-full" data-action="remove" data-barid=<%= bar.bar._id %>></div>
          <% } else { %>
            <div class="carousel-heart" data-action="add" data-barid=<%= bar.bar._id %>></div>
            <% } %>

        </div>
      </div>
    
  
      <% }) %>
  
  
  
    </div>
    <div class="title-container mgtop-40px">
      <h2 class="title">Favorite bars</h2>
    </div>
    <div class="carousel-container mgtop-25px">
      <% favoritebars.forEach((bar) => { %>
        <div class="carousel-row">
  
          <a href="/bars/show/<%= bar._id %>">
          <div class="carousel-image" style=background-image:url(../static/assets/barimages/<%=Math.round((Math.random()*9)+1)%>.jpg)>
            
          
    
          </div></a>
          <div class="carousel-text-container mgtop-10px">
            <div class="carousel-text ">
              <div class="carousel-barname"><%= bar.name %></div>
              <div class="carousel-rating">
              
              <span class=stars> 
                <% bar.stars.forEach((rating) => { %>
                  <% if(rating === "*"){ %>
                    <i class="fa fa-star" aria-hidden="true" style="color: white; font-size: 2.5rem;"></i>
                  <% } else if (rating === "/") { %>
                    <i class="fa fa-star-half-o" aria-hidden="true" style="color: white; font-size: 2.5rem;"></i>
                  <% } else { %>
                    <i class="fa fa-star-o" aria-hidden="true" style="color: white; font-size: 2.5rem;"></i>                
                  <% } %>
                <% }) %>
              </span>
              </div>
            </div>
              <% if(favoritebarsids.includes(bar._id.toString())){ %> 
            <div class="carousel-heart carousel-heart-full" data-action="remove" data-barid=<%= bar._id %>></div>
            <% } else { %>
              <div class="carousel-heart" data-action="add" data-barid=<%= bar._id %>></div>
              <% } %>
  
          </div>
        </div>
      
    
        <% }) %>
      </div>
  
    </div>
 </div>
  


<div class="location-general-container mgtop-80px" style="display: none;" >
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">My Location</div>
  </div>
  <div class="popular-locations mgtop-40px">
    <h2 class="title">Popular Locations:</h2>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">Popular location</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">Popular location</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">Popular location</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">Popular location</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">Popular location</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">Popular location</div>
  </div>

</div>

<div class="quote-from-stranger-container">

<div class="quote-from-stranger-top">
  <div class="quote-picture"></div>
  <div class="quote-name">
    <p>Marie De Witte</p>
  </div>
</div>
<div class="quote-from-stranger-bottom">
  "Thanks Set-The-Bar Dev team ! I've found love and great fortune choosing bars that are the best match for me and my friends !"
</div>
</div>

<!-- <script src="static/scripts/searchProfile.js"></script> -->


























