
<div class="Log-in-container">
  <div class="set-the-bar-text">
    <div class="set-the-bar-moto">Find your perfect bar</div>
    <div class="set-the-bar-intro">Looking to explore new trendy places? Discover the bar that meets all your needs!</div>
  </div>
  <div class="input-info-container input-register-info-container">

<%- include ('./partials/messages') %>
<form action="/users/register" method="POST">
<div >
    <label for="name"></label>
    <input
      class="input-info"
      type="name"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  
</div>
<div>
    <label for="email"></label>
    <input
      class="input-info"
      type="email"
      name="email"
      placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <div >
    <label for="password"></label>
    <input
      class="input-info"
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div >
    <label for="password2"></label>
    <input
      class="input-info"
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  
  <button type="submit" class="btn btn-primary btn-block input-info">
    Register
  </button>

  <div class="connect-with-tier-container">
    <div class="tier-logo"></div>
    <div class="tier-text">Log-in with Facebook</div>
  </div>
</form>
</div>
<div class="no-account">
  Do you have an account already? <span><a href="/users/login" class="btn btn-primary btn-block mb-2"
    >Login</a></span>
</div>
  
</div>

