<div class="search-container mgtop-80px">
  <div class="set-the-bar-search-bar">
    <div class="icon-loupe"></div>
    <form action="/bars/search" method="POST" id="search_bar">
    <input  type="text" placeholder="Search location or barname" class="search-input" name="userquery">
  </form>
    <div class="icon-mic"></div>  
  </div>
  </div>
<div class="filterby-container mgtop-80px">
    <button class="filterby-btn">FILTER BY</button>
    <div class="set-display">
        <button class="set-display-active-btn">List</button>
        <button class="set-display-inactive-btn">Map</button>
    </div>
</div>
<div class="filter-container mgtop-80px" style="display: none;">

  <div class="container-clear-x">
   <a href=""> <button class="clear">Clear all</button> </a>

    <div class="x"> X </div>

  </div>

  <div class="filter-meters-container">
    <form>

      <div class="explain-filter-meters">
        What are you looking for?
      </div>

        <div class="stars">
          <div class="rate">
            <input type="radio" id="star5" name="reviewstars" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="reviewstars" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="reviewstars" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="reviewstars" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="reviewstars" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
          
        </div>
        <div class="filter-crowd"> 
            <p>Crowd</p>
            <input type="range" min="1" max="9" value="5" class="filter-slider">
    
           <div class="filter-labels-crowd"> 
                <span>Pretty quiet</span> 
                <span>Room for more</span> 
                <span>Full house</span>
            </div>
        </div> 
    
        <div class="filter-hygiene"> 
          <p>Hygiene</p>
          <input type="range" min="1" max="9"  class="filter-slider">
          <div class="filter-labels-hygiene">
              <span>Unimportant</span> 
              <span>Decent</span> <span>Clean</span>
            </div>
         </div> 
    
        <div class="filter-atmosphere"> 
          <p>Atmosphere</p>
          <input type="range" min="1" max="9" value="5" class="filter-slider">
          <div class="filter-labels-atmo">
            <span>Dancing</span> <span>Chatting</span></div>
        </div> 
    
        <div class="filter-safety"> 
          <p>Safety</p>
          <input type="range" min="1" max="9" value="5" class="filter-slider">
         <div class="filter-labels-safety"> 
           <span>Unimportant</span> <span>Safe</span></div>
        </div> 

        
    
  
        <button class="apply-filter" >Apply filters</button>
    </form>
</div>
</div>


<div class="results-container mgtop-80px">
  <% bars.forEach((bar) => { %>
<div class="bar-card mgtop-40px" id=<%= bar._id  %>  data-rating=<%= bar.averages[0].rating %> data-crowd=<%= bar.averages[1].rating %> data-hygiene=<%= bar.averages[2].rating %> data-atmosphere=<%= bar.averages[3].rating %> data-safety=<%= bar.averages[4].rating %>>
  
  <a href="/bars/show/<%= bar._id %>"><div class="bar-img" style=background-image:url(../static/assets/barimages/<%=Math.round((Math.random()*9)+1)%>.jpg)></div>
  </a>
  <div class="bar-bottom-container">
    
<div class="bar-info">
  <div class="bar-name">
<h3>
  <%= bar.name %>
</h3>
  </div>
  <div class="bar-info-bottom-container">
    <div class="bar-stars">
      <% bar.stars.forEach((star) => { %>
        <% if(star === "*"){ %>
          <i class="fa fa-star" aria-hidden="true" style=`color: white; font-size: 2.5rem;`></i>
        <% } else if (star === "/") { %>
          <i class="fa fa-star-half-o" aria-hidden="true" style=`color: white; font-size: 2.5rem;`></i>
        <% } else { %>
          <i class="fa fa-star-o" aria-hidden="true" style=`color: white; font-size: 2.5rem;`></i>                
        <% } %>
      <% }) %> 
    </div>
    <div class="bar-reviews">
      <p><%= bar.reviews.length %> reviews</p>
    </div>
  </div>
</div>
    <div class="bar-heart">
      <div class="carousel-heart heart-results"></div>
    </div>
  </div>
</div>
<% }) %>
</div>